.loader1-container {
	background-color: red;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid whitesmoke;
	transform-origin: center;
	animation: rotate 2s ease forwards infinite;
}

.circle {
	background-color: red;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	border: 2px solid whitesmoke;
}

.circle:nth-child(1) {
	left: 100px;
	animation: slideleft 2s ease forwards infinite;
}

.circle:nth-child(2) {
	left: -100px;
	top: -30px;
	animation: slideright 2s ease forwards infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
		background-color: lightcoral;
	}
	25% {
		background-color: lightgreen;
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		background-color: lightcoral;
	}
}

@keyframes slideleft {
	0% {
		transform: translateX(0px);
		background-color: lightcoral;
	}
	25% {
		transform: translateX(-50px);
		background-color: lightgreen;
	}
	50% {
		transform: translateX(0px);
	}
	100% {
		background-color: lightcoral;
	}
}

@keyframes slideright {
	0% {
		transform: translateX(0px);
		background-color: lightcoral;
	}
	25% {
		transform: translateX(50px);
		background-color: lightgreen;
	}
	50% {
		transform: translateX(0px);
	}
	100% {
		background-color: lightcoral;
	}
}
