@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

$c: #{mix(#fff, rgb(177, 147, 110), 25%)};

.btn {
  width: 150px;
  height: 50px;
  border: 1px solid ;
  font-family: 'Sigmar One', cursive;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  color: $c;
}

.btn::before, .btn::after {
  position: absolute;
  background: #181818;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: $c;
}

.btn:hover::after {
  height: 0px;
  background: $c;
}

.btn:hover {
  background: $c;
  color: #181818;
}